.container-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ui.card {
  padding: 10px;
  margin: 20px;
  border-radius: 3px;
}

.card img {
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
  transition: 0.3s ease-in-out;
}



.ui.card:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}
