<div class="products-component-container" *ngIf="!loading">
  <div class="sidebar">
    <div class="section">
      <div class="header">
        <h3>Categories</h3>
      </div>
      <div class="body">
        <ul>
          <li (click)="filterCategory('')">All</li>
          <li (click)="filterCategory('fashion')">Fashion</li>
          <li (click)="filterCategory('electronics')">Electronics</li>
          <li (click)="filterCategory('jewelery')">Jewelery</li>
        </ul>
      </div>
    </div>

    <div class="section">
      <div class="header">
        <h3>Price</h3>
      </div>
      <div class="body">
        <app-range-slider (onChange)="filterPrice($event)"></app-range-slider>
      </div>
    </div>
  </div>

  <div class="content container-card">
    <div *ngIf="filteredProducts.length > 0">
      <div class="container-body">
        <ng-container
          *ngFor="
            let item of filteredProducts
              | filter: searchKey:'title'
              | paginate: { itemsPerPage: 8, currentPage: p }
          "
        >
          <div class="ui card">
            <a [routerLink]="item.link" [state]="{ product: item }">
              <img src="{{ item.image }}" alt="{{ item.title }}" />
            </a>
            <h5
              style="
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 100ch;
              "
            >
              {{ item.title }}
            </h5>
            <p
              style="
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 100ch;
              "
            >
              {{ item.description }}
            </p>
            <p><strong>Price:</strong> ${{ item.price }}</p>
            <button
              (click)="addToCart(item)"
              class="ui inverted green button"
              style="border-radius: 5rem"
            >
              Add to Cart
            </button>
          </div>
        </ng-container>
      </div>
      <pagination-controls
        style="
          margin: 10px;
          padding: 10px;
          display: flex;
          justify-content: center;
        "
        (pageChange)="p = $event"
      ></pagination-controls>
    </div>

    <div class="no-product-container" *ngIf="filteredProducts.length === 0">
      <h1>Sorry<span class="gold">!</span></h1>
      <h4 class="gold">No Products <span class="black">found</span></h4>
      <img src="../../../assets/Capture.PNG" />
    </div>
  </div>
</div>
