.range-slider-container {
  width: 150px;
}

.range-slider-container .group {
  padding: 0 0 0 5px;
  display: flex;
  justify-content: space-between;
}

.range-slider-container .group input {
  max-width: 54%;
  margin-left: 13px;
}

::ng-deep .ngx-slider {
  z-index: 99;

}

.ngx-slider {
  width: 250px;

}

::ng-deep .range-slider .ngx-slider .ngx-slider-pointer {
  background: #0f1010 !important;
}

::ng-deep .range-slider .ngx-slider .ngx-slider-selection {
  background: #070707 !important;

}

.ui.form input {
  margin-left: 35px;
}

@media only screen and (max-width: 715px) {
  .ngx-slider {
    width: 150px;
  }
}

@media only screen and (max-width: 530px) {
  .range-slider-container {
    width: 100px;
  }

  .ngx-slider {
    width: 120px;
  }

}
