.range-slider-container {}

.range-slider-container .group {
  padding: 0 0 0 5px;
  display: flex;
  justify-content: space-between;
}

.range-slider-container .group input {
  max-width: 50%;
}

::ng-deep .range-slider .ngx-slider .ngx-slider-pointer {
  background: #31cfce !important;
}

::ng-deep .range-slider .ngx-slider .ngx-slider-selection {
  background: #0db9f0 !important;

}
