@import "~swiper/css";
@import "~swiper/css/pagination";
@import "~swiper/css/navigation";

.swiper {
  width: 100%;
  height: 30vh;
  position: relative;

  h1 {
    position: absolute;
    color: white;
    margin-bottom: 200px;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
}
.first-img.swiper-slide {
  background: #f2f2f7;
}
.second-img.swiper-slide {
  background: #f2f2f7;
}
.third-img.swiper-slide {
  background: #f2f2f7;
}
.swiper-button-next,
.swiper-button-prev {
}
.wrapper {
  display: inline-flex;
}
.wrapper .static-txt {
  font-size: 40px;
  color: rgb(4, 4, 4);
}
.wrapper .dynamic-txts {
  margin-left: 15px;
  line-height: 90px;
  height: 90px;
  overflow: hidden;
}
.dynamic-txts li {
  list-style: none;
  font-size: 30px;
  color: #fc6d6d;
  font-weight: bold;
  position: relative;
  top: 0;

  animation: slide 4s steps(4) infinite;
}
@keyframes slide {
  100% {
    top: -360px;
  }
}
.dynamic-txts li span {
  position: relative;
}
.dynamic-txts li span::after {
  margin-top: 25px;
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  background: #f2f2f7;
  width: 100%;
  border-left: 2px solid #7a7272;
  animation: typing 1s steps(30) infinite;
}
@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -30 0 30;
  }
}
