<swiper [spaceBetween]="30" [centeredSlides]="true" [autoplay]="{
    delay: 2500,
    disableOnInteraction: true
  }" [pagination]="{
    clickable: true
  }" [navigation]="true" class="mySwiper" [loop]="true">
  <ng-template swiperSlide class="first-img">
    <div>
      <img style="width:250px
       ; " src="../../../assets/fashion2.png" />
    </div>
  </ng-template>

  <ng-template swiperSlide class="second-img">
    <div>
      <img src="../../../assets/pngfind.com-electronics-items-png-891691.png" /></div>
  </ng-template>
  <ng-template swiperSlide class="third-img">

    <div>
      <img style="width:500px


      ;" src="../../../assets/pngfind.com-necklace-chain-png-1258569.png" />
    </div>
  </ng-template>
</swiper>
