<ng-container *ngIf="products.length != 0">
  <header id="site-header">
    <div class="container">
      <h1>Shopping cart</h1>
    </div>
  </header>

  <div class="container" *ngFor="let item of products; let i = index">
    <section id="cart">
      <article class="product">
        <header>
          <a (click)="removeItem(item)" class="remove">
            <img src="{{ item.image }}" alt="" />

            <h3>Remove product</h3>
          </a>
        </header>

        <div class="content">
          <h1>{{ item.title }}</h1>

          {{ item.description }}
        </div>

        <footer class="content">
          <span (click)="subQuntity(item)" class="qt-minus">-</span>
          <span class="qt">{{ item.quantity }}</span>
          <span (click)="addQuantity(item)" class="qt-plus">+</span>

          <h2 class="full-price">{{ item.total }}</h2>

          <h2 class="price">{{ item.price }}</h2>
        </footer>
      </article>
    </section>
  </div>

  <footer id="site-footer">
    <div class="container clearfix">
      <div class="right">
        <h1 class="total">
          Total: <span>{{ total }} lei</span>
        </h1>
        <a class="btn">Checkout</a>
      </div>
    </div>
  </footer>
</ng-container>

<ng-container *ngIf="products.length === 0">
  <div class="ui card">
    <div class="content"></div>
    <div class="center">
      <img
        src="https://freepikpsd.com/file/2019/10/empty-cart-png-Transparent-Images.png"
        alt=""
      />
      <h4>Add to the product now!</h4>
      <button routerLink="/products" class="positive fluid ui button">
        Check our Shop
      </button>
    </div>
  </div>
</ng-container>
