.main {
  --nav-bar-height: 80px;
}

.w-100 {
  width: 100% !important;
  height: 30vh;
  background-color: #4040a1;
  border: none;

}

.w-100.m1 {
  background-color: #4040a1;
}

.w-100.m2 {
  background-color: #e06377;
}

.w-100.m3 {
  background-color: #b8a9c9
}

#cartCount {
  font-size: 12px;
  color: #fff;
  background-color: rgb(1, 1, 1);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
  top: -17px;
  right: 0;
  height: 17px;
  width: 17px;
  font-weight: bolder;
}

.cart-button {
  cursor: pointer;
  position: relative;
}

.cart-button i {
  font-size: 24px;
  color: rgb(255, 255, 255);
}

.carousel-item {
  height: 40vh;
  min-height: 200px;
}

.carousel-caption {
  bottom: 30px;
}

.carousel-caption h5 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
  font-family: merienda;
}

.carousel-caption p {
  width: 60%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
  font-family: poppins;
}

.carousel-caption a {
  text-transform: uppercase;
  background: #262626;
  padding: 10px 30px;
  display: inline-block;
  color: #fff;
  margin-top: 30px;
}

.navbar-nav a {
  font-family: poppins;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-light .navbar-brand {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-nav {
  text-align: center;
}

.nav-link {
  padding: .2rem 1rem;
}

.nav-link.active,
.nav-link:focus {
  color: rgb(5, 5, 5);
}

.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
  background: #fff;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}

.w-100 {
  height: 100vh;
}

@media only screen and (max-width: 767px) {
  .navbar-nav.ml-auto {
    background: rgb(0, 0, 0);
  }

  .navbar-nav a {
    font-size: 14px;
    font-weight: normal;
  }
}



.search-box input {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 30px;
  color: gray;
  text-align: center;
  font-size: 16px;
  padding-left: 5px;
  padding: right 40px;
  ;



}

.navbar {
  display: flex;
  align-items: center;
  background: rgb(63, 63, 69);
  background: linear-gradient(90deg,
      rgba(63, 63, 69, 1) 21%,
      rgba(2, 0, 36, 1) 100%);
  height: var(--nav-bar-height);
}

.container {
  display: flex;
  align-items: center;
}

.carousel.slide {
  margin-top: var(--nav-bar-height);
}
