<nav [ngClass]="isScrolling? 'fixed': 'relative'">
  <div class="mobile-menu-icon" (click)="toggleMenu()">
    <i class="bars big icon"></i>
  </div>
  <div class="logo-container">
    <h1>E-commerce <span> today</span></h1>
  </div>
  <div class="search-container">
    <div class="ui large input">
      <input type="text" placeholder="Search..." (keydown)="search($event)" />
    </div>
  </div>
  <div class="menu-container">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a routerLink="blog" href="">Blog</a>
      </li>
    </ul>
  </div>

  <div class="search-icon">
    <div class="search-icon-container" (click)="toggleSearch()">
      <i class="search big icon"></i>
    </div>
    <div class="search-popup" [class.active]="isSearchOpen">
      <div class="ui search">
        <div class="ui icon input">
          <input class="prompt" #microwaveRef (keydown)="search($event)" type="text" placeholder="Search...">
        </div>
        <div class="results"></div>
      </div>
    </div>
  </div>


  <div class="cart-container">
    <div class="cart-group">

      <i routerLink="cart" class="shopping cart icon" class="shopping cart big icon"></i>

      <span> {{ totalItem }}
      </span>
    </div>
  </div>

  <div class="menu-mobile-container" [class.active]="isMenuOpen">
    <div class="close-icon"></div>
    <div class="menu-header">

    </div>
    <div class="menu-list">
      <div class="close-btn" (click)="toggleMenu()">
        <i class="close icon"></i>

      </div>
      <ul class="">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/">Blog </a>
        </li>
      </ul>

    </div>
  </div>
</nav>
