<h1>Submit issue</h1>
<div *ngIf="isSuccess">

  <div class="ui success message">
    <i (click)="isSuccess = false" class="close icon"></i>
    <div class="header">
      Thank you for sending us
    </div>
    <p>Your issue has been reported our team will get back to as soon as possible! </p>
  </div>
</div>
<form class="ui form">
  <div class="field">
    <label>Name</label>
    <input name="name" type="text">
  </div>
  <div class="field">
    <div class="field">
      <label>E-mail</label>
      <input name="email" type="text">
    </div>
  </div>
  <div class="field">
    <label>Name</label>
    <textarea name="paragraph" type="text"></textarea>
  </div>
  <div class="ui submit button">Submit</div>
  <div class="ui error message"></div>
</form>
