<main class="container">
  <div class="left-column">
    <img
      style="height: 300px; width: 300px; margin: 100px"
      src="{{ product.image }}"
      alt=""
    />
  </div>

  <div class="right-column">
    <div class="product-description">
      <span>{{ product.category }}</span>
      <h1>{{ product.title }}</h1>
      <p>
        {{ product.description }}
      </p>
    </div>

    <div class="product-price">
      <span>{{ product.price }}lei</span>
      <button
        (click)="addToCart(product)"
        class="ui inverted yellow button"
        style="border-radius: 5rem"
      >
        Add to Cart
      </button>
    </div>
  </div>
</main>
