html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

/* Columns */
.left-column {
  width: 65%;
  position: relative;
}

.right-column {
  width: 35%;
  margin-top: 60px;
}

.left-column img {
  height: 300px;
  width: 300px;
  margin: 100px;
}

/* Product Description */
.product-description {
  border-bottom: 1px solid #e1e8ee;
  margin-bottom: 20px;
}

.product-description span {
  font-size: 12px;
  color: #358ed7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484d;
  letter-spacing: -2px;
}

.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939e;
  line-height: 24px;
}

.product-price {
  display: flex;
  align-items: center;
}

.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474d;
  margin-right: 20px;
}
.mobile-interface {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .mobile-interface {
    display: flex;
    flex-direction: column;
    align-items: center;
    .img-container img {
      width: 300px;
      height: 300px;
    }
    .product-title h1 {
      font-weight: 300;
      font-size: 25px;
      color: #43484d;
      letter-spacing: -2px;
      margin-top: 40px;
    }
    .product-title span {
      font-size: 12px;
      color: #358ed7;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-decoration: none;
    }
    .product-description {
      width: 500px;
    }
    p {
      margin: 0px auto;
    }
  }
  .container {
    display: none;
  }
}
